/* font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-regular {
    font-family: "Lato", sans-serif;
    font-style: normal;
}

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
}

.flex {
    display: flex;
}

.color1 {
    color: rgba(39, 39, 39, 1);
}

.color2 {
    color: rgba(39, 39, 39, 0.6);
}

.color3 {
    color: rgba(39, 39, 39, 0.8);
}

.btn-primary {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: #E55473;
    border: none;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: rgba(220, 20, 60, 0.678);
    border: 1px solid rgba(0, 0, 0, 0.281);
}


/* section styles */

/* hero section styles */
header {
    background-color: rgba(229, 84, 115, 0.1);
    padding: 50px 20px 0 20px;
}

.hero-container {
    align-items: center;
    gap: 90px;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: bolder;
    margin-bottom: 30px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#hero img {
    width: 100%;
    height: auto;
}


/* media query for responsive */

/* for mobile device */

@media screen and (max-width:639px){

    /* hero section */
    .hero-container {
        flex-direction: column;

    }

    .hero-container {
        text-align: center;
        gap: 40px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
        /* margin-bottom: 30px; */
    }
}



/* for medium device */

@media screen and (min-width: 640px) and (max-width:1023px)  {
    
}