/* font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-regular {
    font-family: "Lato", sans-serif;
    font-style: normal;
}

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 100px auto;
    padding: 0 16px;
}

.flex {
    display: flex;
}

.color1 {
    color: rgba(39, 39, 39, 1);
}

.color2 {
    color: rgba(39, 39, 39, 0.6);
}

.color3 {
    color: rgba(39, 39, 39, 0.8);
}

.btn-primary {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: #E55473;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgba(220, 20, 60, 0.678);
    border: 1px solid rgba(0, 0, 0, 0.281);
}

.section-title {
    font-size: 2.5rem;
    font-weight: 900;
    color: #272727;
}

p {
    color: #272727b2
}


/* section styles */

/* hero section styles */
header {
    background-color: rgba(229, 84, 115, 0.1);
    padding: 50px 20px 0 20px;
}

.hero-container {
    align-items: center;
    gap: 90px;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: bolder;
    margin-bottom: 30px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#hero img {
    width: 100%;
    height: auto;
}

/* featured section styles */
.featured-content {
    text-align: center;
}

.featured-content h2 {
    margin-bottom: 24px;
}

.featured-content p {
    margin-bottom: 40px;
}

.feature-card-container {
    justify-content: center;
    gap: 24px;
}

.feature-card {
    max-width: 350px;
    text-align: center;
    text-decoration: underline;
    color: #272727;
    font-size: 1.1rem;
}

.img {
    height: 430px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 50px;
    border-radius: 50% 50% 0 0;
    margin-bottom: 32px;
}

.img1 {
    background-color: #a7216233;
}

.img2 {
    background-color: #0598a03a;
}

.img3 {
    background-color: #477d113a;
}

.feature-card img {
    max-height: 100%;
    width: auto;
}

/* service section styles */
.service{
    background-color: rgba(39, 39, 39, 0.247);
    padding: 80px 100px;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
}

.service-box img{
    margin-bottom: 24px;
}

.service-box p{
    font-size: 1.2rem;
    font-weight: 600;

}













/* media query for responsive */

/* for mobile device */

@media screen and (max-width:576px) {

    /* hero section */
    .hero-container {
        flex-direction: column;

    }

    .hero-container {
        text-align: center;
        gap: 40px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
        /* margin-bottom: 30px; */
    }

    /* feature */
    .feature-card-container {
        flex-direction: column;
        align-items: center;
    }

    /* service */
    .service{
        flex-direction: column;
        
    }
}



/* for medium device */

@media screen and (min-width: 577px) and (max-width:992px) {

    /* feature */
    .feature-card-container {
        flex-wrap: wrap;
    }


    /* .feature-card{
        flex: 1 1 45%;
    } */
}